

.meeting{
    position: fixed;
    background-color: black;
    color: lightgray;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

.meeting .video-frame{
    height: min-content;
}

.meeting .video-frame h3{
    color: rgb(30, 170, 30);
}

.meeting .video-frame .screen{
    background-color: black;
    min-width: 60%;
    max-width: 90%;
    min-height: 300px;
    max-height: 500px;
    margin-bottom: 100px;
}

.meeting .bottom-navbar{
    background-color: aliceblue;
    color: gray;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

.meeting .bottom-navbar .meeting-details-btn{
    height: 100px;
    border-right: 2px solid gray;
    width: 15%;
    padding: 10px;
    cursor: pointer;
    float: left;
}

.meeting .bottom-navbar .meeting-details-btn:hover{
    color: black;
    background-color: lightgray;
}

.meeting .bottom-navbar .share-screen-btn{
    height: 100px;
    border-left: 2px solid gray;
    width: 15%;
    padding: 10px;
    cursor: pointer;
    float: right;
}

.meeting .bottom-navbar .share-screen-btn:hover{
    color: black;
    background-color: lightgray;
}

.meeting .bottom-navbar .button{
    height: 100px;
    cursor: pointer;
    background: none;
    border: none;
    width: 15%;
    margin-left: 2%;
    margin-right: 2%;
    color: gray;
}

.meeting .bottom-navbar .button:hover{
    color: red;
}



